<form role="form" class="registration--form">
    <div class="form-group">
        <label for="salutation">Salutation:</label>
        <select id="salutation" class="form-control" ng-model="salutation">
            <option value="Mr." ng-selected="salutation === 'Mr.'">Mr.</option>
            <option value="Ms." ng-selected="salutation === 'Ms.'">Ms.</option>
        </select>
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control" placeholder="Name" ng-model="name" />
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input id="age" type="text" class="form-control" placeholder="Age" ng-model="age" />
        </div>
        <button type="button" class="btn btn-primary" ng-click="save()">Register</button>
    </div>
</form>

<p>Do you want to view <a href="#/">registrations</a>?</p>